@import "@/styles/vars.css";

.close {
  position: absolute;
  top: 4px;
  right: 0;
  color: var(--color-primary-light);
}

.close-icon {
  width: 40px;
  height: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.remaining {
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}