@import "@/styles/vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
}

.counter {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  color: var(--color-primary);
  width: 60px;
  display: flex;
  transition: var(--transition);
}

.button:disabled {
  color: var(--color-primary-disabled);
  border-color: var(--color-primary-disabled);
}

.button:not(:disabled):hover, .button:not(:disabled):active {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.icon {
  width: 60px;
  height: 60px;
}

.input {
  background: transparent;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 3px;
  color: inherit;

  width: 118px;
  height: 76px;
  padding: 16px;

  text-align: center;

  border: var(--border-primary);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.input:hover, .input:focus {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}