@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    font-optical-sizing: none;
    color: var(--color-primary);

    background: url("@/assets/background.webp") no-repeat center / cover;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}

h2, figcaption {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button:disabled {
    cursor: not-allowed;
}

a:visited {
    color: inherit;
}

li {
    list-style-type: none;
}