.footer {
    align-self: flex-start;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: var(--color-primary-light);
}

.link {
    text-decoration: underline;
    text-underline-offset: 3px
}