@import "@/styles/vars.css";

.card {
    background-color: var(--color-primary-light);
    padding: 32px;
    border-radius: var(--border-radius);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}

.title h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
}