#root {
    min-width: 1280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("assets/background.webp") no-repeat fixed center;
    background-size: cover;
    height: 100vh;
}

.container {
    width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer {
    align-self: flex-start;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(241, 241, 239);
    letter-spacing: normal;
}